@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(10%);
		-webkit-transform: scale(10%);
		-moz-transform: scale(10%);
		-ms-transform: scale(10%);
		-o-transform: scale(10%);
		font-size: large;
	}

	100% {
		transform: scale(100%);
		transform: rotate(0deg);
		opacity: 1;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		font-size: xx-large;
	}
}

.wrap {
	animation: fadeIn 1s ease-in-out;
	width: 100vw;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.construction {
	border-radius: 10px;
	width: 50%;
	height: 50%;
}

.Title {
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	margin-top: 1rem;
	text-transform: uppercase;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 30vh;
	width: 100%;
}
