.mainLoader{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("https://s3.amazonaws.com/www-inside-design/uploads/2018/12/image1.gif");
    background-repeat: no-repeat;
    background-size: auto;
    filter:grayscale(20%);
    -webkit-filter:grayscale(20%);
}

.titleLoader{
    font-size: 5rem;
    position: absolute;
    animation: fadeIn 2s ease-in;
    -webkit-animation: fadeIn 2s ease-in;
}

.Loader{
    animation: fadeIn 3s ease-in;
    -webkit-animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: scale(10%);
        -webkit-transform: scale(10%);
        -moz-transform: scale(10%);
        -ms-transform: scale(10%);
        -o-transform: scale(10%);
}

    100%{
        transform: scale(100%);
        transform: rotate(0deg);
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
}

.titleLoader{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}