

.container{
    @apply overflow-hidden hover:shadow-2xl rounded-3xl h-2/3  w-60 md:w-80 cursor-pointer mr-10 my-5  hover:border-l-4;
    border-bottom: 4px solid var(--orange)
}

.container:hover{
    border-left: 4px solid var(--orange) 
}

.imageCard{
    @apply h-56 w-full object-cover;
}
.blocCard{
    @apply bg-white  w-full p-4 flex flex-col items-center;
}

.textType{
    @apply font-medium;
    color: var(--orange);
}

.textTitle{
    @apply text-xl font-medium mb-2;
    color: var(--blue)
}

.textDescription{
    @apply font-light;
    color: var(--violet)
}

.bloc2{
    @apply flex items-center mt-4;
}

.authorImage{
    @apply mx-auto object-cover rounded-full h-10 w-10;
}

.textContainer{
    @apply flex flex-col justify-between ml-4 text-sm;
}

.authorText{
    @apply text-gray-800 ;
}

.dateText{
    @apply text-gray-400 ;
}

.modalButton{
    @apply px-6 py-1 w-32 my-3 hover:bg-red-100  font-bold rounded shadow hover:shadow-2xl outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-75;
    color: var(--orange);
}