.container_header{
        @apply w-screen h-screen bg-gray-50 absolute z-40 lg:hidden;
        animation: fadeIn 1s ease-in forwards;
        -webkit-animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translate3d(400px,0,0);
        -webkit-transform: translate3d(400px,0,0);
        -moz-transform: translate3d(400px,0,0);
        -ms-transform: translate3d(400px,0,0);
        -o-transform: translate3d(400px,0,0);
}

    to {
        opacity:1;
 
}
}


.bloc1_header{
    @apply  h-screen flex flex-col sm:flex-row items-center justify-center sm:justify-around;
}
.header_header{
    @apply w-72 h-screen;
}
.nav_header{
    @apply mt-10 px-6;
}

.navHeaderBloc{
    @apply  text-red-800 dark:text-white uppercase text-lg lg:flex lg:flex-row items-center hidden;
}

.header2_header{
    @apply h-24 sm:h-32 flex items-center z-20 w-full border-b-2 border-red-200 bg-white fixed top-0;
}

.bloc2_header{
    @apply container mx-auto px-6 flex items-center justify-between;
}

.openMenuButton{
    @apply flex flex-col h-12 w-12 border-2 border-red-500 rounded justify-center items-center group lg:hidden z-50;
}

.blocMail_header{
    @apply uppercase text-red-800  font-black text-3xl flex items-center;
}

.mail_header{
    @apply  text-xs ml-3 mt-1;
}

.item_header{
    @apply hover:text-red-800 hover:bg-gray-100 flex items-center p-2 my-6 transition-colors  duration-200  text-red-600  rounded-lg;
}

.item_open_header{
    @apply font-myFont py-2 px-6 flex hover:text-red-600 hover:bg-gray-100;
}

.item_li_header{
    @apply font-myFont mx-4 text-5xl font-normal;
}

.fantome{
    @apply  h-24 sm:h-32;
}