.footer{
    @apply flex flex-col w-screen  h-44 xl:h-52 items-center justify-between px-7  md:flex-row sm:h-36;
    border-top: 2px solid var(--violet);
}

.sentence_footer{
    @apply text-xl font-bold;
    color: var(--orange);
}

.legalMention{
    @apply py-2 sm:py-0;
    color: var(--orange);
}

.item_footer{
    @apply mx-2 ;
}

.footerBlocIcon{
    @apply flex flex-row -mx-2 md:flex-col;
}

.images_footer{
    @apply w-10 h-8 fill-current hover:opacity-30;
}